<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation=
                 "http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.coreservlets.book.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LotteryNumbers</servlet-name>
        <servlet-class>com.coreservlets.book.LotteryNumbers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserIDs</servlet-name>
        <servlet-class>com.coreservlets.book.UserIDs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitInsuranceInfo</servlet-name>
        <servlet-class>com.coreservlets.book.SubmitInsuranceInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimeNumberServlet</servlet-name>
        <servlet-class>com.coreservlets.book.primes.PrimeNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShadowedText</servlet-name>
        <servlet-class>com.coreservlets.book.imageoutput.ShadowedText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepeatVisitor</servlet-name>
        <servlet-class>com.coreservlets.book.cookie.RepeatVisitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepeatVisitor2</servlet-name>
        <servlet-class>com.coreservlets.book.cookie.RepeatVisitor2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieTest</servlet-name>
        <servlet-class>com.coreservlets.book.cookie.CookieTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientAccessCounts</servlet-name>
        <servlet-class>com.coreservlets.book.cookie.ClientAccessCounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.coreservlets.book.cookie.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationForm</servlet-name>
        <servlet-class>com.coreservlets.book.cookie.RegistrationForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSession</servlet-name>
        <servlet-class>com.coreservlets.book.session.ShowSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowItems</servlet-name>
        <servlet-class>com.coreservlets.book.session.ShowItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KidsBooksPage</servlet-name>
        <servlet-class>com.coreservlets.book.session.KidsBooksPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechBooksPage</servlet-name>
        <servlet-class>com.coreservlets.book.session.TechBooksPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderPage</servlet-name>
        <servlet-class>com.coreservlets.book.session.OrderPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThreeParams</servlet-name>
        <servlet-class>com.coreservlets.book.jsp.ThreeParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBalance</servlet-name>
        <servlet-class>com.coreservlets.book.mvc.ShowBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RandomNumberServlet</servlet-name>
        <servlet-class>com.coreservlets.book.mvc.RandomNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimeServlet</servlet-name>
        <servlet-class>com.coreservlets.book.mvc.PrimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MvcRegistrationServlet</servlet-name>
        <servlet-class>com.coreservlets.book.mvc.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScopedVars</servlet-name>
        <servlet-class>com.coreservlets.book.el.ScopedVars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeanProperties</servlet-name>
        <servlet-class>com.coreservlets.book.el.BeanProperties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Collections</servlet-name>
        <servlet-class>com.coreservlets.book.el.Collections</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conditionals</servlet-name>
        <servlet-class>com.coreservlets.book.el.Conditionals</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/helloservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LotteryNumbers</servlet-name>
        <url-pattern>/lotterynumbers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserIDs</servlet-name>
        <url-pattern>/userids</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitInsuranceInfo</servlet-name>
        <url-pattern>/SubmitInsuranceInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimeNumberServlet</servlet-name>
        <url-pattern>/PrimeNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShadowedText</servlet-name>
        <url-pattern>/ShadowedText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepeatVisitor</servlet-name>
        <url-pattern>/RepeatVisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepeatVisitor2</servlet-name>
        <url-pattern>/RepeatVisitor2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieTest</servlet-name>
        <url-pattern>/CookieTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientAccessCounts</servlet-name>
        <url-pattern>/ClientAccessCounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationForm</servlet-name>
        <url-pattern>/RegistrationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSession</servlet-name>
        <url-pattern>/ShowSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowItems</servlet-name>
        <url-pattern>/ShowItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KidsBooksPage</servlet-name>
        <url-pattern>/KidsBooksPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechBooksPage</servlet-name>
        <url-pattern>/TechBooksPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderPage</servlet-name>
        <url-pattern>/OrderPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThreeParams</servlet-name>
        <url-pattern>/ThreeParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBalance</servlet-name>
        <url-pattern>/ShowBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MvcRegistrationServlet</servlet-name>
        <url-pattern>/MvcRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimeServlet</servlet-name>
        <url-pattern>/PrimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RandomNumberServlet</servlet-name>
        <url-pattern>/RandomNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScopedVars</servlet-name>
        <url-pattern>/el/ScopedVars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeanProperties</servlet-name>
        <url-pattern>/el/BeanProperties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Collections</servlet-name>
        <url-pattern>/el/Collections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conditionals</servlet-name>
        <url-pattern>/el/Conditionals</url-pattern>
    </servlet-mapping>
</web-app>
